name: Daily Stock Scan
on: [workflow_dispatch]
jobs:
  run-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 安裝套件
        run: pip install yfinance==0.2.36 pandas requests lxml beautifulsoup4
      - name: 執行程式
        env:
          LINE_TOKEN: ${{ secrets.LINE_TOKEN }}
          USER_ID: ${{ secrets.USER_ID }}
        run: python auto_scan.py
